[Unit]
Description=Celix Node Agent
Documentation=https://github.com/INAETICS

[Service]
EnvironmentFile=/usr/share/oem/node.config

ExecStartPre=/bin/sh -c 'echo /usr/bin/docker pull $DOCKER_REPOSITORY_HOST:$DOCKER_REPOSITORY_PORT/inaetics/node-agent-service:latest'

ExecStart=/bin/sh -c '\
if [ "x$EXTERNAL_ETCD_STARTUP_PEERS" != "x" ]; then ETCD_SERVER=$EXTERNAL_ETCD_STARTUP_PEERS ;  else ETCD_SERVER=$ETCD_STARTUP_PEERS; fi; \ 
MY_IP=$(ifconfig | grep "$NODE_SUBNET\.[1-9]*" | awk \'{print $2}\'); \
DOCKER_IP=$(ifconfig docker0 | grep inet | awk \'{print $2}\' | cut -d ":" -f2); \
MY_ID=$(ifconfig | grep "$NODE_SUBNET\.[1-9]*" | awk \'{print $2}\' | tr -d \'.\'); \
MY_INSTANCE=%i; \
/usr/bin/docker run --rm=true --hostname="felix_$MY_INSTANCE" --name="felix_$MY_INSTANCE" -p 6666:6666 -p 8080:8080 -p 9000:9000 -p 9001:9001 -e ETCDCTL_PEERS=$ETCD_SERVER:$ETCD_CLIENT_PORT -e DOCKER_HOST=tcp://$DOCKER_IP:$DOCKER_PORT $DOCKER_REPOSITORY_HOST:$DOCKER_REPOSITORY_PORT/inaetics/node-agent-service:latest /tmp/node-agent.sh felix_$MY_INSTANCE $MY_IP; ' 

ExecStop=/bin/sh -c 'for cont in $(docker ps | grep node-agent-service | awk \'{print $1}\'); do /usr/bin/docker stop $cont; /usr/bin/docker rm $cont; done'

Restart=always
RestartSec=10

[X-Fleet]
MachineMetadata=role=inaetics-agent
#X-Conflicts=celix@*.service
X-Conflicts=felix@*.service
X-Conflicts=provision-8080.service

